{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col m6 s12">
    <h1>About the Finch Collector</h1>
    <hr>
    <p>The Finch Collector is your one hop shop for all things winged. We're anti wing-clipping and #anti-cage and all our finches are free to roam the Shropshire skies before returning home... for food!</p>
  </div>
  <div class="col m6 s12">
    <img class="responsive-img" src="https://i.imgur.com/SB3NIEE.png" alt="Strawberry Finch">
  </div>

</div>

{% endblock %}