{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>

<hr>

<div class="row center">
  <div class="col s12">
      <h3>Welcome to Finch Collector!</h3>
      <h4>Where you can collect finches.</h4>

      <blockquote>
        To bird or not to bird, that is the question.
      </blockquote>
  </div>
</div>

<hr>

<div class="row center">

  <div class="col m4 s12 z-depth-1">
    <h3>1.</h3>
    <h4>Find Cool Birds.</h4>
    <br>
  </div>
  <div class="col m4 s12 z-depth-1">
    <h3>2.</h3>
    <h4>Make Friends.</h4>
    <br>
  </div>
  <div class="col m4 s12 z-depth-1">
    <h3>3.</h3>
    <h4>Be Cool Forever.</h4>
    <br>
  </div>

</div>


  <!-- Scaled in -->
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
    <i class="material-icons">add</i>
  </a>

  <!-- Scaled out -->
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">
    <i class="material-icons">add</i>
  </a>
      

{% endblock %}